.healthy {
    color: #F4F6F7 !important;
    background: #2ECC71 !important;
}

.unhealthy {
    color: #F4F6F7 !important;
    background: #E74C3C !important;
}

.expired {
    color: #F4F6F7 !important;
    background: #ffae00  !important;
}

#status{
    background: transparent
}

.btn-grp {
    display: table;
    margin: auto;
}


h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.form-style-7{
    max-width:500px;
    margin: 20px 20px;
    margin-bottom: 0px;
    background:#fff;
    border-radius:2px;
    padding:5px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;	
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 20px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 200px;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
button[type="button"]{
    background: #3498DB;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #2980B9 ;
    border-radius: 3px;
    color: #F4F6F7;
    width: 100%;
    margin-bottom: 20px;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 button[type="button"]:hover{
    background: #5DADE2;
    color:#fff;
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

